@font-face {
	font-family: 'Battle City';
	src: url('../../assets/fonts/prstart.ttf');
	font-weight: 400;
	font-style: normal;
}

.wrapper {
	display: flex;
}

.screen {
	box-sizing: content-box;
	position: relative;
	border-top: #747477 solid 16px;
	border-left: #747477 solid 40px;
	border-right: #747477 solid 96px;
	border-bottom: #747477 solid 16px;
	background-color: #000;
}

.sidebar {
	position: absolute;
	left: 951px;

	.sidebar_text {
		font-family: 'Battle City';
		font-size: 37px;
		line-height: 37px;
		letter-spacing: 0px;
	}

	.sidebar_text_stage_num {
		margin-left: 10px;
	}

	.stage_wrapper {
		margin-top: 50px;
	}

	.tank_container {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		width: 80px;
		margin-top: 20px;
		.tank_icon_wrapper {
			height: 30px;
			margin-bottom: 4px;
			margin-right: 4px;
		}
	}

	.p1_container {
		margin-top: 510px;
	}
	.p2_container {
		margin-top: 30px;
	}

	.p_num_wrapper {
		display: flex;
		gap: 2px;
	}
}

.object {
	position: absolute;
}

.row {
	display: flex;
}

.pixel {
	width: 4.5px;
	height: 4.5px;
}

.emptyPart {
	width: 32px;
	height: 32px;
}

.done_text {
	position: absolute;
	z-index: 2;
	font-family: 'Battle City';
	top: 50%;
	margin-left: 950px;
}

.control_wrapper {
	z-index: 9999;
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.control_wrapper_2 {
	z-index: 9999;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.pause_wrapper {
	z-index: 9999;
	position: fixed;
	left: 50%;
	margin-left: -25px;
	bottom: 10px;
}

.control_top_wrapper {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.control_button {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid gray;
	padding: 10px;
	font-size: 25px;
	background: none;
	color: #fff;
	opacity: 0.65;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	grid-area: btn;
}

@media (max-width: 1090px) or (max-height: 980px) {
	.pixel {
		width: 4px;
		height: 4px;
	}
	.screen {
		border-top: #747477 solid 12px;
		border-left: #747477 solid 32px;
		border-right: #747477 solid 80px;
		border-bottom: #747477 solid 12px;
	}
	.sidebar {
		left: 843px;

		.sidebar_text {
			font-size: 30px;
			line-height: 30px;
		}

		.sidebar_text_stage_num {
			margin-left: 10px;
		}

		.stage_wrapper {
			margin-top: 38px;
		}

		.tank_container {
			width: 70px;
			margin-top: 17px;
			.tank_icon_wrapper {
				height: 30px;
				margin-bottom: 3px;
				margin-right: 3px;
			}
		}

		.p1_container {
			margin-top: 468px;
		}
		.p2_container {
			margin-top: 24px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 840px;
	}
}

@media (max-width: 950px) or (max-height: 870px) {
	.pixel {
		width: 3.5px;
		height: 3.5px;
	}
	.screen {
		border-top: #747477 solid 12px;
		border-left: #747477 solid 32px;
		border-right: #747477 solid 72px;
		border-bottom: #747477 solid 12px;
	}
	.sidebar {
		left: 738px;

		.sidebar_text {
			font-size: 25px;
			line-height: 25px;
		}

		.sidebar_text_stage_num {
			margin-left: 10px;
		}

		.stage_wrapper {
			margin-top: 38px;
		}

		.tank_container {
			width: 60px;
			margin-top: 17px;
			.tank_icon_wrapper {
				height: 29px;
				margin-bottom: 3px;
				margin-right: 3px;
			}
		}

		.p1_container {
			margin-top: 398px;
		}
		.p2_container {
			margin-top: 24px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 736px;
		font-size: 14px;
	}
}

@media (max-width: 845px) or (max-height: 765px) {
	.pixel {
		width: 3px;
		height: 3px;
	}
	.screen {
		border-top: #747477 solid 12px;
		border-left: #747477 solid 32px;
		border-right: #747477 solid 72px;
		border-bottom: #747477 solid 12px;
	}
	.sidebar {
		left: 638px;

		.sidebar_text {
			font-size: 25px;
			line-height: 25px;
		}

		.sidebar_text_stage_num {
			margin-left: 10px;
		}

		.stage_wrapper {
			margin-top: 38px;
		}

		.tank_container {
			width: 48px;
			margin-top: 17px;
			.tank_icon_wrapper {
				height: 30px;
				margin-bottom: 3px;
				margin-right: 3px;
			}
		}

		.p1_container {
			margin-top: 358px;
		}
		.p2_container {
			margin-top: 24px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 636px;
		font-size: 13px;
	}
}

@media (max-width: 750px) or (max-height: 660px) {
	.pixel {
		width: 2.5px;
		height: 2.5px;
	}
	.screen {
		border-top: #747477 solid 8px;
		border-left: #747477 solid 24px;
		border-right: #747477 solid 48px;
		border-bottom: #747477 solid 8px;
	}
	.sidebar {
		left: 525px;

		.sidebar_text {
			font-size: 17px;
			line-height: 17px;
		}

		.sidebar_text_stage_num {
			margin-left: 5px;
		}

		.stage_wrapper {
			margin-top: 23px;
		}

		.tank_container {
			width: 45px;
			margin-top: 2px;
			.tank_icon_wrapper {
				height: 22px;
				margin-bottom: 2px;
				margin-right: 2px;
			}
		}

		.p1_container {
			margin-top: 288px;
		}
		.p2_container {
			margin-top: 18px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 526px;
		font-size: 10px;
	}
}

@media (max-width: 610px) or (max-height: 550px) {
	.pixel {
		width: 2px;
		height: 2px;
	}
	.screen {
		border-top: #747477 solid 8px;
		border-left: #747477 solid 24px;
		border-right: #747477 solid 48px;
		border-bottom: #747477 solid 8px;
	}
	.sidebar {
		left: 424px;

		.sidebar_text {
			font-size: 17px;
			line-height: 17px;
		}

		.sidebar_text_stage_num {
			margin-left: 5px;
		}

		.stage_wrapper {
			margin-top: 23px;
		}

		.tank_container {
			width: 34px;
			margin-top: 5px;
			.tank_icon_wrapper {
				height: 17px;
				margin-bottom: 2px;
				margin-right: 2px;
			}
		}

		.p1_container {
			margin-top: 228px;
		}
		.p2_container {
			margin-top: 18px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 424px;
		font-size: 9px;
	}
}

@media (max-width: 500px) or (max-height: 460px) {
	.pixel {
		width: 1.5px;
		height: 1.5px;
	}
	.screen {
		border-top: #747477 solid 5px;
		border-left: #747477 solid 14px;
		border-right: #747477 solid 29px;
		border-bottom: #747477 solid 5px;
	}
	.sidebar {
		left: 314px;

		.sidebar_text {
			font-size: 11px;
			line-height: 11px;
		}

		.sidebar_text_stage_num {
			margin-left: 5px;
		}

		.stage_wrapper {
			margin-top: 15px;
		}

		.tank_container {
			width: 29px;
			margin-top: 0;
			.tank_icon_wrapper {
				height: 10px;
				margin-bottom: 3px;
				margin-right: 3px;
			}
		}

		.p1_container {
			margin-top: 162px;
		}
		.p2_container {
			margin-top: 9px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 314px;
		font-size: 6px;
	}
}

@media (max-width: 360px) or (max-height: 340px) {
	.pixel {
		width: 1px;
		height: 1px;
	}
	.screen {
		border-top: #747477 solid 4px;
		border-left: #747477 solid 14px;
		border-right: #747477 solid 22px;
		border-bottom: #747477 solid 4px;
	}
	.sidebar {
		left: 212px;

		.sidebar_text {
			font-size: 8px;
			line-height: 8px;
		}

		.sidebar_text_stage_num {
			margin-left: 2px;
		}

		.stage_wrapper {
			margin-top: 15px;
		}

		.tank_container {
			width: 18px;
			margin-top: 0;
			.tank_icon_wrapper {
				height: 8px;
				margin-bottom: 1px;
				margin-right: 1px;
			}
		}

		.p1_container {
			margin-top: 102px;
		}
		.p2_container {
			margin-top: 9px;
		}

		.p_num_wrapper {
			display: flex;
			gap: 2px;
		}
	}
	.done_text {
		margin-left: 212px;
		font-size: 4px;
	}
}
