.wrapper {
	display: flex;
}

.screen {
	box-sizing: content-box;
	position: relative;
	border-top: #747477 solid 16px;
	border-left: #747477 solid 40px;
	border-right: #747477 solid 36px;
	border-bottom: #747477 solid 16px;
	background-color: #000;
}

.object {
	position: absolute;
}

.row {
	display: flex;
}

.pixel {
	width: 4px;
	height: 4px;
}

.emptyPart {
	width: 32px;
	height: 32px;
}
